.boxLista{
    color: #111;
}

.centraliza {
    text-align: center;
}

.alinhaBotao {
    padding: 10px;
    width: 20%;
}

legend {
    text-align: center;
}

table {
    width: 100%;
    scrollbar-width: 1;
}

button {
    font-size: 10px;
    width: 50%;
    text-decoration: none;
    color: #fff;
    border: 2px solid #818181;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    background-color: #111;
}

.Popular {
    font-family: fantasy;
    font-weight: bold;
}

.Carga {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.Luxo {
    font-family: cursive;
}